# Mac files
.DS_Store

# Loose files
*.dat
*.nc
*.m
*.asv
*.mat
*.zip
*.png
*.jpg

# Local-only folders
Datasets/*
data/*
result*
MATLAB/*
documentation/*
benchmarks/*

# Machine-specific files
IMAU_ICE_program
compile_*
src/module-files/*
src/object-files/*
