.DS_Store
arolla100.dat
benchmark_experiments/*
Datasets/*
Datasets.zip
documentation/*
imagesc3.m
IMAU_ICE_program
MATLAB/*
old_src_versions/*
results_*
SELEN_files*
src/module-files/*
src/object-files/*
basal_melt/*
*.nc
run_basal_melt_MISMIPplus.csh
MISMIPplus/MISMIPplus_*
MISOMIP1/MISOMIP1_*
MISOMIP1/subgridmelt_*
extrapolated_ocean_files/*
EISMINT1/EISMINT1_*
Halfar/Halfar_*
Bueler/Bueler_*
SSA_icestream/SSA_icestream_*
ISMIP-HOM/ISMIP_HOM_*
config-files_old/*
calving_test*
*.mat
*.png
MISMIP_mod/MISMIP_mod_*
ABUMIP/ABUMIP_*
BIVMIP/BIVMIP_*
spinup_/*
